body .solar_systm .planet {
  height: 1200px;
  width: 1200px;
  border-radius: 600px;
  background: red;
  transition: transform 2.8s 0.23s cubic-bezier(0.33, 0, 0, 1), opacity 2s 0.8s, box-shadow 0s 0s;
  background-size: 1140px 910px !important;
  top: auto;
  bottom: -920px;
}

body .solar_systm .planet .moon {
  height: 200px;
  width: 200px;
  border-radius: 600px;
  background: red;
  position: absolute;
  text-align: center;
  color: white;
  text-transform: uppercase;
  opacity: 0;
  transition: all 0.6s 0.2s;
}

body .solar_systm .planet .moon h2 {
  font-weight: 100;
  font-size: 40px;
  letter-spacing: 5px;
  margin: 0;
  position: relative;
  top: -120px;
}

body .solar_systm .planet .moon h3 {
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 5px;
  color: #fea082;
  margin: 0;
  position: relative;
  top: -120px;
}