body {
  margin: 0;
  font-family: Arial;
  background: #0d0d0d;
  color: white;
}

header {
  background: black;
  padding: 15px;
  text-align: center;
}

.hero {
  height: 300px;
  background: url("https://wallpaperaccess.com/full/solo-leveling.jpg") no-repeat center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  padding: 20px;
}